<div v-if=" app.session === 'form' " class="md-layout">
    <div class="md-layout-item md-size-25 md-small-hidden"></div>
    <div class="md-layout-item md-size-50 md-small-size-100 md-card">
        <div class="md-card-content">
            <div class="md-title">
                {{form.title}}
            </div>
            <div class="md-subhead">
                {{form.subTitle}}
            </div>
            <template>                
                <br>
                <template v-for="(item, i) in form.items">
                    <md-field
                        v-if="item.type === 'input'"
                        :class="item.valid === false ? 'md-invalid' : '' "
                        :key="'item-' + i">
                        <label>{{item.label}}</label>
                        <md-input 
                            v-model.trim="item.value"
                            :required="item.required"
                            :disabled="form.submitting"
                            @blur="validate(item)"
                            @keyup="validate(item)">
                        </md-input>
                        <span class="md-error">{{item.error}}</span>
                    </md-field>
                    
                    <md-field
                        v-if="item.type === 'select'"
                        :class="item.valid === false ? 'md-invalid' : '' "
                        :key="'item-' + i">
                      <label>{{item.label}}</label>
                      <md-select 
                          v-model="item.value"
                          :required="item.required"
                          :disabled="form.submitting"
                          @blur="validate(item)"
                          @md-selected="validate(item)"
                          md-dense>
                        <md-option 
                            v-for="(option, i) in item.options"
                            :value="option"
                            :key="option + item.label">{{option}}</md-option>
                      </md-select>
                      <span class="md-error">{{item.error}}</span>
                    </md-field>
                    
                    <md-field
                        v-if="item.type === 'multiple-select'"
                        :class="item.valid === false ? 'md-invalid' : '' "
                        :key="'item-' + i">
                      <label>{{item.label}}</label>
                      <md-select 
                          v-model="item.value"
                          :required="item.required"
                          :disabled="form.submitting"
                          @blur="validate(item)"
                          @md-selected="validate(item)"
                          md-dense
                          multiple>
                        <md-option 
                            v-for="(option, i) in item.options"
                            :value="option"
                            :key="option + item.label">{{option}}</md-option>
                      </md-select>
                      <span class="md-error">{{item.error}}</span>
                    </md-field>

                    <md-field
                        v-if="item.type === 'region'"
                        :class="item.valid === false ? 'md-invalid' : '' "
                        :key="'item-' + i">
                      <label>{{item.label}}</label>
                      <md-select 
                          v-model="item.value"
                          :required="item.required"
                          :disabled="form.submitting"
                          @blur="validate(item)"
                          @md-selected="validate(item, true, i)"
                          md-dense>
                        <md-option 
                            v-for="(region) in regions"
                            :value="region.id"
                            :key="region.id">{{region.name}}</md-option>
                      </md-select>
                      <span class="md-error">{{item.error}}</span>
                    </md-field>
                    
                    <md-field
                        v-if="item.type === 'province'"
                        :class="item.valid === false ? 'md-invalid' : '' "
                        :key="'item-' + i">
                      <label>{{item.label}}</label>
                      <md-select 
                          v-model="item.value"
                          :required="item.required"
                          :disabled="form.submitting"
                          @blur="validate(item)"
                          @md-selected="validate(item, true, i)"
                          md-dense>
                        <template v-for="(province) in provinces">
                        <md-option 
                            v-if="province.parent === form.items[i-1].value"
                            :value="province.id"
                            :key="province.id">{{province.name}}</md-option>
                        </template>
                      </md-select>
                      <span class="md-error">{{item.error}}</span>
                    </md-field>
                    
                    <md-field
                        v-if="item.type === 'city'"
                        :class="item.valid === false ? 'md-invalid' : '' "
                        :key="'item-' + i">
                      <label>{{item.label}}</label>
                      <md-select 
                          v-model="item.value"
                          :required="item.required"
                          :disabled="form.submitting"
                          @blur="validate(item)"
                          @md-selected="validate(item, true, i)"
                          md-dense>
                        <template v-for="(city) in cities">
                        <md-option 
                            v-if="city.parent === form.items[i-1].value"
                            :value="city.id"
                            :key="city.id">{{city.name}}</md-option>
                        </template>
                      </md-select>
                      <span class="md-error">{{item.error}}</span>
                    </md-field>
                    
                    <md-field
                        v-if="item.type === 'hospital'"
                        :class="item.valid === false ? 'md-invalid' : '' "
                        :key="'item-' + i">
                      <label>{{item.label}}</label>
                      <md-select 
                          v-model="item.value"
                          :required="item.required"
                          :disabled="form.submitting"
                          @blur="validate(item)"
                          @md-selected="validate(item)"
                          md-dense>
                        <template v-for="(hospital) in hospitals">
                        <md-option 
                            v-if="hospital.parent === form.items[i-1].value"
                            :value="hospital.id"
                            :key="hospital.id">{{hospital.name}}</md-option>
                        </template>
                      </md-select>
                      <span class="md-error">{{item.error}}</span>
                    </md-field>
                    
                </template>
                <div>
                    <md-button 
                        class="md-primary md-raised submit-button"
                        :disabled=" !form.valid || form.submitting"
                        @click="submit">Submit</md-button>
                </div>
            </template>
            
        </div>
        
    </div>
    <div class="md-layout-item md-size-25 md-small-hidden"></div>
</div>